.sobre-menu{
	background-color: #2D2F3E;
	margin-top:3px;
	height: 54px;
}
	.sobre-menu img{
		max-width: 100%;
		height: auto;
		margin-left:1%;	

	}
	.sobre-menu span{
	   float: right;
	   padding-left:0.3%; 
	     padding-right:1%; 
		color:#fff;
		font-size: 1.1em;
		line-height:3.5em;
	}
	.sobre-menu > .divsors{
		font-style: bold;
	}
	.border2-red{
		border-bottom:2px solid #B31313;
		background-color: #42425c;

	}
.mail-header{
	color: #fff;
	padding-right:10px; 
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height:430px;
  z-index:0;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
   max-width: 100%;
  min-width: 100%;
  height: auto;
}
.text-color-site{
	color:#CDD6DF;
}
.section-imoveis-blog{
	background-color: #2D2F3B;
	height:auto;
	overflow:hidden;
	display:block;
	padding-bottom:25px;
}
.row-title-blog{
		background-color: #2D2F3B;
}
	.title-section-blog{
		padding-top: 25px;
		color:#fff;
		font-weight: 500;
		  font-size:1.475em;

	}
	.section-article-images{
		background-color:#1C1F26;

	height:auto;
	overflow:hidden;
	display:block;
	padding-bottom:25px;
	padding-top:25px;
}
	
    .article-images img {
    
    	height:150px;
    	width: 52%;
    	float:left;
    }
    .article-images h2 {
    	 font-size:1.475em;
    	  color:#4C9779;
    	  width: 46%;
			float: right;
			margin-top: 0;
			margin-bottom:5px; 
			    	
    	}
    .article-images p {
         float: right;
    	width: 46%;
    	color:#CDD6DF;
          font-size:0.875em ;}
     .article-images a {color:#4C9779;font-size:1.375em;padding-left: 5px;}



	.article-posts h2 {
        color: #687324;
        font-size:1.375em;
	}
		.article-posts p {
                color:#CDD6DF;
                font-size:0.875em ;
	}
	.article-posts a {
               color: #687324;
                font-size:1.375em;
	}
   
footer{
	font-size:0.875em ;
	height:auto;
	overflow:hidden;
	display:block;
	background-color:#292931;
	border-top: 2px solid #101922;
	margin-bottom: 25px;}
			.lista-footer{
				margin-top: 10px;
				list-style: none;
				padding-left: 0;
                     
               
			}
				.lista-footer > li{
					margin-top:8px; 
					display: block;
				}
			.lista-footer > li a{
			    color:#CDD6DF;
			      font-family:arial;
			      font-size:1em;
			}
			.border-footer{
			 border-right: 2px solid #101922;
		
			 margin-top: 5px;
					 padding-top: 15px;
			}
			footer h4{
				font-size: 1.063em;
				text-align: left;
			}
			.section-left-footer{
             float:left; width:58%;
			}
			.section-right-footer{
				float:right;width:40%;
			}
			.footer-figure{
				margin-top:10px;
			}
			.footer-figure-img{
               width:160px;
                height:40px;
               
			}
			.pad-left > li a{
				padding-left:18px;
			}
	.footer-boxes{
		background-color:#22252A;
		padding-left:2px;
		padding-top: 2px;
		padding-bottom:2px;
		margin-top: 10px;
		font-size:0.813em; 
	}
	.footer-boxes:last-child {
		margin-bottom: 10px;
	}
	.no-pad-right{
		padding-right: 0 !important;
	}
	.direitos{
		margin-top: 15px;
	}
	.separete-sections{
        border-bottom:  2px solid #101922;

	}
	.title-section-area{
		background-color: #1C1F26;
		
	
		
	}
	.a-destaque-home{
		background-color:#2D2F3B;
		border-bottom: 2px solid #101922;
	}
		.sidebar-home{

		}
			.sidebar-home ul{
				border-left:3px solid #697140;
				list-style:none; 
				padding-left:0;

			}
			.sidebar-home{
				margin-bottom: 25px;
			}
				.sidebar-home ul li{
					background-color: #1f2229;
					height: 30px;
					margin-bottom:2px; 
					 transition: background-color 0.5s ease;


				}
					.sidebar-home ul li:hover{
                           background-color:#1C1F26;
                           font-size: 15px;


					}
					.sidebar-home ul li a{
                     line-height: 30px;
					padding-left:15px;
					color:#7A7D84;

				
			       }
			       .sidebar-home ul li a:hover{
			       	text-decoration: none;
			       
			       }
			       			.sidebar-home ul li a span{
				               color:#697140;
			       }
			      .box-aside{
			      	height:120px;
			        margin-bottom:2px; 
			      }
			      .box-aside h4{
			      	height:32px;
			      	line-height:32px;
			      	background-color:#1C1F26;
			      	color:#7A7D84;
			      	margin-bottom:0;	
			      }
			      .box-aside a{
                      display: block;

			      }
			      .box-aside a:hover{
			      	 text-decoration: none;
			      	 opacity: 0.7;
			      }
			      .box-aside h4 span{
			      	padding-left:12px;
			      	padding-right:5px;

			      }
			      .box-aside img{
                       max-width:100%;
                       width:350px;
                       height:auto;
                       display: block;
                       
			      }
			      .searchs-aside{
			      		margin-bottom:25px; 
			      	}
			      	.box-escolha{
			      background-color:#23262F;
			      	}
			      	.box-escolha h4{
                       border-left:3px solid #5B7E2A; 
                       padding-left:12px;
			      	}
			      	.box-escolha div{
			      		height:50px;
			      		background-color:#23262F;
			      		position: relative;
			      		display: block;
			      	}
			      	.box-escolha select{
			      		height:30px;
			      		width:252px;
			      		margin: 0 auto; 
			      		margin-top:25px; 
						display: block;
						background-color:#282A36;
                        border:2px solid #2F313D;
						border-radius:5px;
						color:#6C6E7A;
						 transition: opacity 0.7s ease;
			      	}
			      	.box-escolha select:hover{
			      		cursor: pointer;
			      		border-color:#2F313D;
			      		opacity: 0.6;
			      	}
			      	.box-logo-aside {
			      		margin-bottom: 25px;

			      	}
			      	.box-logo-aside img{
                       max-width: 100%;
							height: auto;
							width: 100%;
							
							display: block;
			      	}
			      	.box-logo-aside > div{
			      		background-color: #7A1213;
			      		overflow: hidden;
			      		height:86px;
			      		transition: opacity 0.7s ease;
			      	}
			      	.box-logo-aside > div:hover{
			      		opacity: 0.6;
			      		cursor: pointer;
			      	}
			      	.box-logo-aside p{
			      	     color:#fff;
			      		font-size:12px; 
			      		padding-top:14px; 
			      		padding-left:12px; 
			      	}
			      	.box-logo-aside select{
			      		display: block;
			      		height:23px;
			      		width:252px;
			      		margin: 0 auto; 
			      		background-color:#4B0B0C;
                        border:2px solid #4B0B0C;
						border-radius:5px;
						color:#fff;

			      	}
		.section-areas-destaq{
               background-color:#1C1F26;
		}
		.section-areas-destaq img{
			max-width: 100%;
			width: 100%;
			height: auto;

		}
		.section-areas-destaq footer{
			padding-top:15px;
			padding-bottom:5px;
			background-color: #1C1F26;
			transition: background-color 0.7s ease;

		}
			.section-areas-destaq footer:hover{
			background-color: #000;

		}
		.section-areas-destaq h5{
			float: left;
			width: 48%;
			margin-right:2px; 
			height: auto;
			padding-left:12px;
			font-size: 14px;
			border-right: 2px solid #585B62;

		
		}
		.section-areas-destaq h5 a{
			color: #fff;
			margin-right: 2px;

		}
		.section-areas-destaq li{
         float: right;
         width: 48%;
         list-style: none;
         height: auto;
         margin-left:2px;
         padding-left:22px; 	
			
		}
		.section-areas-destaq li a{
			color:#585B62;

		}
		.section-areas-destaq li a:hover{
			color:#2C3C1F;
			font-size: 1em;
		}
/*efeito de zomm em imagens da home*/
     .hoverzoom {
	position: relative;
    width:100%;
    max-width: 100%;
    overflow: hidden;
    cursor: pointer;
}
.hoverzoom > img {
   width: 100%; 
	
	-webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	    -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	     -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	      -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	         transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}
.hoverzoom:hover > img {
	-webkit-transform: scale(1.2);
	   -moz-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	     -o-transform: scale(1.2);
	        transform: scale(1.2);
}
/*efeito de zomm em imagens da home*/

.a-destaque-homes >header, .row-patrocinio >header {
padding-top: 25px;
padding-bottom: 25px;
color: #fff;
font-weight: 500;
font-size: 1.475em;
}	
/*estilos - formulario de pesquisa*/
.pesquisa-content{
	 height:100px;
	}
	 .pesquisa-content > form{
	 	width: 70%;
	 	float: left;
	 }	
		.input-pesquisa{
	           background-color:#556074;
	           width:93%;
	           margin-top:30px;
	           margin-left:20px;
	           padding-left:12px;
	           border: 1px solid #556074;
	           border-right:2px solid #556074;
	           height: 37px; 
	           color: #fff;
		}
	
		.pesquisa-button{
			height:37px;
			background-color:#4C5363;
			border:#4C5363;
			color:#fff;
			border-bottom:6px solid #537E22;
			padding-top:6px;
		}
    .box-result-pesquisa{
    	width:24%;
    	float:right;
    	margin-right:2%;
    	color: #fff;
    	height: 80px;

    }
    .box-result-pesquisa h2{
     height:26px;
     background-color:#4E9104;
     font-size:1.063em;
     line-height: 1.5em;
     margin-bottom: 0;
     text-align: center;

    }
    .box-result-pesquisa > div{
       background-color:#3D4353;
       height:40px;

         }
     .box-result-pesquisa h3{
         margin: 0 auto;
         text-align: center;
         padding-top: 10px;
     }
     .row-color-back{
     	background-color:#2D2F3B; 
     }
/*=====================================*/


.logo{
	margin-top:40px;
	margin-left: 20px;
}


@media screen and (max-width: 677px) {
   
}