html, body{margin: 0; height: 100%;background: #e9eaed; }

/********************************
* FOLHA DE ESTILOS DA APLICAÇÃO *
********************************/
.page_1300 {position:relative; display:table; width:1300px; height:auto; left:50%; margin-left:-650px; margin-top:20px; border:1px solid #ccc;}
.page_1200 {position:relative; display:table; width:1200px; height: auto; left:50%; margin-left:-600px; margin-top:20px; border:1px solid #ccc;}
.page_1100 {position:relative; display:table; width:1100px; height:auto; left:50%; margin-left:-550px; margin-top:20px; border:1px solid #ccc;}
.page_1000 {position:relative; display:table; width:1000px; height:auto; left:50%; margin-left:-500px; margin-top:20px; border:1px solid #ccc;}
.page_900 { position:relative; display:table; width:900px; height:auto; left:50%; margin-left:-450px; margin-top:20px; border:1px solid #ccc;}
.page_800 { position:relative; display:table; width:800px; height:auto; left:50%; margin-left:-400px; margin-top:20px; border:1px solid #ccc;}
.page_700 { position:relative; display:table; width:700px; height:auto; left:50%; margin-left:-350px; margin-top:20px; border:1px solid #ccc;}
.page_600 { position:relative; display:table; width:600px; height:auto; left:50%; margin-left:-300px; margin-top:20px; border:1px solid #ccc;}

.large_10 { width: 10%; float:left; border: 0px solid red; margin-left: 2% }
.large_15 { width: 15%; float:left; border: 0px solid red; margin-left: 2% }
.large_35_2 { width: 16.5%; float:left; border: 0px solid red; margin-left: 2% }
.large_20 { width: 20%; float:left; border: 0px solid red; margin-left: 2% }
.large_25 { width: 25%; float:left; border: 0px solid red; margin-left: 2% }
.large_30 { width: 30%; float:left; border: 0px solid red; margin-left: 2% }
.large_35 { width: 35%; float:left; border: 0px solid red; margin-left: 2% }
.large_35_2 { width: 16.5%; float:left; border: 0px solid red; margin-left: 2% }
.large_40 { width: 40%; float:left; border: 0px solid red; margin-left: 2% }
.large_45 { width: 45%; float:left; border: 0px solid red; margin-left: 2% }
.large_50 { width: 50%; float:left; border: 0px solid red; margin-left: 2% }
.large_55 { width: 55%; float:left; border: 0px solid red; margin-left: 2% }
.large_60 { width: 60%; float:left; border: 0px solid red; margin-left: 2% }
.large_70 { width: 70%; float:left; border: 0px solid red; margin-left: 2% }
.large_80 { width: 80%; float:left; border: 0px solid red; margin-left: 2% }
.large_90 { width: 90%; float:left; border: 0px solid red; margin-left: 2% }
.large_100 { width: 100%; float:left; border: 0px solid red; margin-left: 2% }

.radius-3{
	-moz-border-radius: 7px; /* Firefox */
	-webkit-border-radius: 7px; /* Safari and Chrome */
	border-radius: 7px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
	behavior: url(ie-css3.htc); /* This lets IE know to call the script on all elements which get the 'box' class */
}
.radius-4{
	-moz-border-radius: 4px; /* Firefox */
	-webkit-border-radius: 4px; /* Safari and Chrome */
	border-radius: 4px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
	behavior: url(ie-css3.htc); /* This lets IE know to call the script on all elements which get the 'box' class */
}
.radius-5{
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari and Chrome */
	border-radius: 5px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
	behavior: url(ie-css3.htc); /* This lets IE know to call the script on all elements which get the 'box' class */
}
.radius-6{
	-moz-border-radius: 6px; /* Firefox */
	-webkit-border-radius: 6px; /* Safari and Chrome */
	border-radius: 6px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
	behavior: url(ie-css3.htc); /* This lets IE know to call the script on all elements which get the 'box' class */
}
.radius-7{
	-moz-border-radius: 7px; /* Firefox */
	-webkit-border-radius: 7px; /* Safari and Chrome */
	border-radius: 7px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
	behavior: url(ie-css3.htc); /* This lets IE know to call the script on all elements which get the 'box' class */
}

/******************************************************/
/* Sessão de Estilos para MODAL                       */
/******************************************************/
#simplemodal-overlay { background-color:#000;}
#loading_layer {
background-color:#000;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
opacity:.6;
z-index:10000;
width:100% !important;
height:100% !important;
position:absolute;
top:0;
left:0;
}

.modal {
/*display:block;*/
z-index:0;
background-color:#fff;
border:1px solid #888;
max-width:1000px !important;
max-height:750px !important;
-moz-box-shadow:0 0 3px 50px #000;
-webkit-box-shadow: 0 0px 50px #000;
box-shadow: 0px 0px 50px rgb(000,000,000);
text-align:left;
}

.modal div#header {
height: 35px;
background-color:#ddd;
background-repeat:repeat-x;
border-bottom: 2px solid #888;
color:#000;
cursor:default;
}

.modal div#header h6 {
margin:0;
padding:10px 0 0 10px;
vertical-align:middle;
font-size: 16px;
}

.modal div#header img {
float:left;
margin:9px 0 0 10px; 
width:16px;
}

.modal div#header img.img_close {
float:right;
margin:12px 12px 0 0; 
cursor:pointer;
width:10px;
}

.modal div#content {
margin:15px 3px 15px 15px;
vertical-align:top;
text-align:left;
max-height:670px;
overflow-y:auto;
padding:0 10px 0 0;
text-align:left;
}

.modal div#footer {
background-color:#f5f5f5;
margin-top:5px;
height:10px;
width:auto;
border-top: 1px solid #bbb;
min-width:0;
}

.generic_box {
/*display:block;*/
z-index:10000;
background-color:#fff;
border:1px solid #888;
-moz-box-shadow:0 0 3px 1px #999;
-webkit-box-shadow: 0 0 3px #999;
box-shadow: 0px 0px 3px rgb(150,150,150);
}

.generic_box div#header {
height: 35px;
background-color:#ddd;
background-repeat:repeat-x;
border-bottom: 2px solid #888;
color:#000;
cursor:default;
}

.generic_box div#header h6 {
margin:0;
padding:9px 0 0 33px;
vertical-align:middle;
}

.generic_box div#header img {
float:left;
margin:9px 0 0 10px; 
}

.generic_box div#header img#close {
float:right;
margin:12px 12px 0 0; 
cursor:pointer;
width:10px;
}

.generic_box div#content {
margin:10px;
vertical-align:top;
text-align:left;
}

.generic_box div#footer {
background-color:#f5f5f5;
margin-top:5px;
height:10px;
width:auto !important;
min-width: 100% !important;
border-top: 1px solid #bbb;
}

.font_bold{
font-weight: bold;
}


/***********************************
* EstilizaÃ§Ã£o erros de formulÃ¡rios *
***********************************/
.formError {
    position: absolute;
    top: 300px;
    left: 300px;
    display: block;
    z-index: 10005;
    cursor: pointer;
}
.ajaxSubmit {
    padding: 20px;
    background: #55ea55;
    border: 1px solid #999;
    display: none
}
.formError .formErrorContent {
    width: 130px;
    text-align:top;
    left:-146px;
    background: #000;
    position:absolute;
    z-index:5001;
    color: #fff;
    /*width: 200px;*/
    font-size: 11px;
    /*border: 2px solid #ddd;*/
    box-shadow: 0 0 6px #000;
    -moz-box-shadow: 0 0 6px #000;
    -webkit-box-shadow: 0 0 6px #000;
    padding: 10px;
    margin:-8px 0 0 20px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.img_arrow_center_right {
    width:16px;
    height:16px;
    background-repeat:no-repeat;
    margin:8px -30px 0 12px !important;
    position:absolute !important;
    z-index:6000;
}
.greenPopup .formErrorContent { background: #33be40; }
.blackPopup .formErrorContent { background: #000; color: #FFF; }
.formError .formErrorArrow {
    width: 15px;
    margin: -2px 0 0 13px;
    position:relative;
    z-index: 5006;
}
.formError .formErrorArrowBottom {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0px 0 0 12px;
    top:2px;
}
.formError .formErrorArrow div {
    box-shadow: 0 2px 3px #444;
    -moz-box-shadow: 0 2px 3px #444;
    -webkit-box-shadow: 0 2px 3px #444;
    font-size: 0px;
    height: 1px;
    background: #000;
    margin: 0 auto;
    line-height: 0;
    font-size: 0;
    display: block;
}
.formError .formErrorArrowBottom div {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.greenPopup .formErrorArrow div { background: #33be40; }
.blackPopup .formErrorArrow div { background: #393939;color: #FFF; }
.formError .formErrorArrow .line10 { width: 15px; border: none; }
.formError .formErrorArrow .line9 { width: 13px; border: none; }
.formError .formErrorArrow .line8 { width: 11px; }
.formError .formErrorArrow .line7 { width: 9px; }
.formError .formErrorArrow .line6 { width: 7px; }
.formError .formErrorArrow .line5 { width: 5px; }
.formError .formErrorArrow .line4 { width: 3px; }
.formError .formErrorArrow .line3 { width: 1px; }
.formError .formErrorArrow .line2 { width: 3px; border: none; background: #ddd; }
.formError .formErrorArrow .line1 { width: 1px; border: none; background: #ddd; }



