body{
	background-image: url(http://innbrasil.com.br/application/assets/img/bg.png?data=1);
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #000;
}

@media screen and (max-width: 768px){
	.wide{
		margin-top: 60px;
		padding:0;
	}
	.nav{
	background-color: #2c303b;
	height: 100px;
	width: 100%;
	display:table;
	}
	.nav:before{
		content: url(../img/piquet-logo.png?data=1);
		width: auto;
		height: auto;
		top: -25px;
		margin-left: 20px;
		position: relative;
	}

	#container-results{
		background-color: #2c303b;
		padding: 0;
	}

	#container-results-form{
		padding-bottom: 13px;
		width: 94% !important;
		margin: 0 10% 0 14% !important;
		clear: both;
	}
	#container-results-form input, button{
		background-color: #575f74;
		min-height: 50px;
		margin-top: -10px;
		color: #fff;
		margin: 0 10% 0 10% !important;
		width: 100%;
	}
	#container-count{
		background-color: #575f74;
		min-height: 50px;
		margin-top: -10px;
		color: #fff;
		width: 80% !important;
		margin: 0 10% 0 10% !important;
		clear: both;
	}

	#container-count-header{
		background-color: #458c00;
		color: white;
		padding:10px 10% 5px 10%;
		font-size: 14px;
	}
	#container-count #result{
		margin-top:5px;
		margin-bottom:10px;
		margin: 10px;
	}

	#sub-container{
		margin-top: 20px;
	}
	#sub-container #highlights{
		clear:both;
		width: 100% !important;
	}


	#sub-container #highlights h1, h2, h3, h4, h5{
		color: #fff;
	}
	#sub-container #highlights .description_left{
		background-color: #1c1f26;
		min-height: 50px;
		color: #fff;
		font-size: 14px;
		padding: 10px;
	}
	#sub-container #highlights .description_right{
		background-color: #1c1f26;
		min-height: 50px;
		border-left: 1px solid #2a2d3e;
		color: #fff;
		text-align: right;
		font-size: 10px;
		padding: 10px;
	}


	#sub-container #nav{
		width: 100% !important;
	}
	#container-area{
		background-color: #1c1f26;
		min-height: 150px;
		width: 100% !important;
		margin-top: 20px;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
		padding-bottom: 15px;
	}

	#container-area .columns{
		width: 100% !important;
		clear: both;
		padding-bottom: 5px;
	}


}

/* NORMAL */
.wide{
	margin-top: 60px;
	padding:0;
}
.nav{
	background-color: #2c303b;
	height: 100px;
	width: 100%;
	display:table;
}
.nav:before{
	content: url(../img/piquet-logo.png?data=1);
	width: auto;
	height: auto;
	top: -19px;
	margin-left: 20px;
	position: relative;
	z-index:5
}

#contact{
	float: right;
	padding: 18px 20px 0 20px;
}
#contact .separator{
	content: "";
	width: 2px;
	min-height:40px;
	border-left:1px solid #a4a7ac;
	float: left;
	margin-left: 5px;
	margin-top: -7px;
}
#contact #item{
	font-size: 18px;
	float: left;
	color:#fff;
	margin-left: 5px;
}
#contact #item span{
	font-size: 18px;
	float: left;
	color:#dcd805;
	margin-left: 5px;
}


#container-slideshow{
	margin-top: -50px;
}

#container-results{
	background-color: #2c303b;
	padding: 0;
}

#container-count{
	background-color: #575f74;
	min-height: 50px;
	padding: 0;
	margin-top: -10px;
	color: #fff;
	width: 24%;
}

#container-count-header{
	background-color: #458c00;
	color: white;
	padding:10px 12% 5px 12%;
	font-size: 14px;
	border-bottom: 1px solid #2c303b;
}
#container-count #result{
	margin-top:5px;
	margin-bottom:10px;
	margin: 10px;
}

#container-ads{
	background-color: #1c1f26;
	min-height: 60px;
	width: 100%;
	margin-top: 20px;
}

#sub-container{
	margin-top: 20px;
}
#sub-container #highlights{

}


#sub-container #highlights h1, h2, h3, h4, h5{
	color: #fff;
}
#sub-container #highlights .description_left{
	background-color: #1c1f26;
	min-height: 50px;
	color: #fff;
	font-size: 14px;
	padding: 10px;
}
#sub-container #highlights .description_right{
	background-color: #1c1f26;
	min-height: 50px;
	border-left: 1px solid #2a2d3e;
	color: #fff;
	text-align: right;
	font-size: 10px;
	padding: 10px;
}



#sub-container #nav{
}

.nav-filter{
 margin-top:20px;
}

.nav-filter-header{
	background-color: #1f2229;
	color: #919499;
	padding:8px 12% 8px 4%;
	font-size: 12px;
	border-left: 2px solid #458c00;
	border-bottom: 1px solid #2d3039;
}
.nav-filter-header span{
	color: #458c00;
}
.nav-filter-body{
	padding: 10px;
	background-color: #23262f;
	height: 60px;
}

#container-area{
	background-color: #1c1f26;
	min-height: 150px;
	width: 100%;
	margin-top: 20px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding-bottom: 15px;
}
.container-area-img{
	float:left;
}
.container-area-text{
	float: left;
	color: #fff;
	margin-left:5px;
	font-size: 10px;
	width: 40%;
}
.container-area-text span{
	float: left;
	color: #2ab478;
	font-size: 14px;
}

#container-blog{
	background-color: #2c303b;
	min-height: 150px;
	width: 100%;
	border-bottom: 1px solid #000;
	padding-bottom: 15px;
	font-size: 12px;
	color: #fff;
}
#container-blog span{
	float: left;
	color: #2ab478;
	font-size: 16px;
}


	#container-register{
		padding: 0;
		background-color: #2c303b;
		min-height: 400px;
		border-left: 3px solid #458c00;
		border-right: 3px solid #458c00;
		border-bottom: 1px solid #458c00;
		top: 5%;
	}
	#container-register #header{
		background-color: #458c00;
		min-height: 40px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	#container-register #header span{
		color: #fff;
		font-size: 18px;
	}
	#container-register label{
		color: #fff;
	}


@media screen and (max-width: 1024px){
	#container-register{
	padding: 0;
	width: 80%;
	background-color: #2c303b;
	min-height: 400px;
	border-left: 3px solid #458c00;
	border-right: 3px solid #458c00;
	border-bottom: 1px solid #458c00;
	top: 20%;
	}
}



.display_table{display:table;}
.no_padding{padding: 0}


/* PAGE dashboard/index.php | search.php */
.menu_search{padding-left:25px;}
.menu_search .menu a { margin-left:5px; background:#780000; padding:10px; float:left; color:#fff; }
.menu_search .menu a:hover { margin-left:5px; background:#cc0000; padding:10px; float:left; color:#fff; }
.menu_search .menu_active a {margin-left:5px; background:#cc0000; padding:10px; float:left; color:#fff;}

#searchResult{ font-family: 'Open Sans', sans-serif; font-size: 12px; margin-bottom: 30px;}
#searchResult h1{color:#fff; font-family: 'Raleway', sans-serif; font-size:18px;}
.descriptionResult{font-size: 12px;}
.itemResult{background: #22232b; width:100px; padding:5px 0 5px 0; margin-top: 1px; float:left; text-align:center;}